<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='app.css') }} >
</head>
<body>
    <header>
        Product Catalogue
    </header>
    <h1>
        <a href="{{ url_for('login') }}">Login</a>
    </h1>

    {% with messages = get_flashed_messages() %}
    {% if messssages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

</body>
</html>